.venv
.env
*.pdf
*.zip
.idea/

Teste-04/node_modules/

./Teste-01/src/compressed/anexos/
Teste-03/Data/**/*.csv

*.DS_store

__pycache__/
*.py[cod]

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.tox/
.coverage
.cache
nosetests.xml
coverage.xml